{% extends "main_template.html" %}
{% block main_container %}
<main class="container">

  <!-- Basic Card -->
  <div class="card">
    <div class="card-header bg-primary">Header</div>
    <div class="card-body bg-secondary">Contents</div>
    <div class="card-footer bg-info">Footer</div>
  </div>

  <div class="row">
    <!-- Card Arrangement-->
    <div class="card col-6">
      <div class="card-header bg-primary">Header</div>
      <div class="card-body bg-secondary">Contents</div>
      <div class="card-footer bg-info">Footer</div>
    </div>

    <div class="card col-6">
      <div class="card-header bg-primary">Header</div>
      <div class="card-body bg-secondary">Contents</div>
      <div class="card-footer bg-info">Footer</div>
    </div>

  </div>

</main>
{% endblock %}