{% extends "main_template.html" %}

{% block main_container %}

<main>
    <!-- back ground colors -->
    <div class="container mt-2">
        <h2> background-color + p-1</h2>
        <div class="bg-primary p-1">bg-primary</div>
        <div class="bg-success p-1">bg-success</div>
        <div class="bg-info p-1">bg-info</div>
        <div class="bg-warning p-1">bg-warning</div>
        <div class="bg-danger p-1">bg-danger</div>
        <div class="bg-secondary p-1">bg-secondary</div>
        <div class="bg-dark p-1">bg-dark</div>
        <div class="bg-light p-1">bg-light</div>
    </div>

    <!-- Text colors -->
    <div class="container mt-2">
        <div><h2>Text colors</h2></div>
        <div class="text-muted p-1">This text is muted.</div>
        <div class="text-primary">This text is important.</div>
        <div class="text-success">This text indicates success.</div>
        <div class="text-info">This text represents some information.</div>
        <div class="text-warning">This text represents a warning.</div>
        <div class="text-danger">This text represents danger.</div>
        <div class="text-secondary">Secondary text.</div>
        <div class="text-dark">This text is dark grey.</div>
        <div class="text-body">Default body color (often black).</div>
        <div class="text-light">This text is light grey (on white background).</div>
        <div class="text-white">This text is white (on white background).</div>
    </div>

    <!-- mix colors -->
    <div class="container mt-2">
        <div><h2>mix color with text and background</h2></div>
        <div class="bg-success p-1 text-white">bg-success</div>
    </div>

</main>

{% endblock %}
