<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <nav>
        <ul class="nav">
            <li class="nav-item"><a href="gadget/buttons">gadgets-buttons</a></li>
            <li class="nav-item"><a href="gadget/Cards">gadgets-Cards</a></li>
            <li class="nav-item"><a href="gadget/colors">gadgets-colors</a></li>
            <li class="nav-item"><a href="gadget/container">gadgets-container</a></li>
            <li class="nav-item"><a href="positioning/forms">positionings-forms</a></li>
            <li class="nav-item"><a href="positioning/grids">positionings-grids</a></li>
            <li class="nav-item"><a href="positioning/standards">positionings-standards</a></li>
            <li class="nav-item"><a href="positioning/tables">positionings-tables</a></li>
        </ul>
    </nav>
</body>
</html>