{% extends "main_template.html" %}

{% block main_container %}
    <main class="container mt-1">
        <div class="row">
            <!-- back ground colors -->
            <div class="col-12 row g-0">
                <h2 class="col-12"> background-color + p-1</h2>
                <div class="col-1 bg-primary">bg-primary</div>
                <div class="col-1 bg-success">bg-success</div>
                <div class="col-1 bg-info">bg-info</div>
                <div class="col-1 bg-warning">bg-warning</div>
                <div class="col-1 bg-danger">bg-danger</div>
                <div class="col-1 bg-secondary">bg-secondary</div>
                <div class="col-1 bg-dark">bg-dark</div>
                <div class="col-1 bg-light">bg-light</div>
                <div class="col-1 bg-primary">bg-primary</div>
                <div class="col-1 bg-success">bg-success</div>
                <div class="col-1 bg-info">bg-info</div>
                <div class="col-1 bg-danger">EXTRA</div>
            </div>

            <!-- Text colors usint container -->
            <div class="col-6 row g-0">
                <h2 class="col-12 p-1">Text colors</h2>
                <div class="col-1 text-muted p-1">This text is muted.</div>
                <div class="col-1 text-primary p-1">This text is important.</div>
                <div class="col-1 text-success p-1">This text indicates success.</div>
                <div class="col-1 text-info p-1">This text represents some information.</div>
                <div class="col-1 text-warning p-1">This text represents a warning.</div>
                <div class="col-1 text-danger p-1">This text represents danger.</div>
                <div class="col-1 text-secondary p-1">Secondary text.</div>
                <div class="col-1 text-dark p-1">This text is dark grey.</div>
                <div class="col-1 text-body p-1">Default body color (often black).</div>
                <div class="col-1 text-light bg-dark p-1">This text is light grey (on white background).</div>
                <div class="col-1 text-white bg-dark p-1">This text is white (on white background).</div>
                <div class="col-1 text-danger">Extra</div>
            </div>

            <!-- mix colors -->
            <div class="col-6 row g-0">
                <div class="col-6 h2 p-1">mix color with text and background</div>
                <div class="col-6 bg-success p-1 text-white">bg-success</div>
            </div>
        </div>

        <!-- Justify -->
        <!-- commands : justify-content-center, -end, -start, -between, -around  -->
        <div class="row justify-content-around">
            <div class="col-12">Justify</div>
            <div class="col-1 bg-primary">bg-primary</div>
            <div class="col-1 bg-success">bg-success</div>
            <div class="col-1 bg-info">bg-info</div>
        </div>
    </main>

{% endblock %}